<div class="conetenedor-opciones">
    <h3>Ingresa tus datos para gestionar tu turno</h3>
    <label>Motivo de la Consulta</label>
    <select id="especialidad">
        <option value="Medicina interna">Medicina interna</option>
        <option value="Medicina externa">Medicina externa</option>
        <option value="Psicologia">Psicología</option>
        <option value="Pediatria">Pediatría</option>
        <option value="Ginecologia y Obstetricia">Ginecología y Obstetricia</option>
        <option value="Cardiologia">Cardiología</option>
        <option value="Dermatologia">Dermatología</option>
        <option value="Oftalmologia">Oftalmología</option>
        <option value="Otorrinolaringologia">Otorrinolaringología</option>
        <option value="Urologia">Urología</option>
    </select>
    <label>Tipo de documentos</label>
    <select id="tipoDocumento">
        <option value="RC">Registro civil</option>
        <option value="TI">Tarjeta de identidad</option>
        <option value="CC">Cedula de ciudadania</option>
    </select>
    <label>Número de documento</label>
    <input id="numeroDocumento" type="number" placeholder="123456789" />
    <button onclick="submitForm()">Continuar</button>
</div>
