<div id="turnoModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal('turnoModal')">&times;</span>
        <h2>Tu número de turno es</h2>
        <p class="numeroTurnoText" id="numeroTurno"></p>
        <p>Por favor, espera a que te llamen.</p>
    </div>
</div>
