@{
    ViewData["Title"] = "Asignar citas";
    var uniqueId = ViewData["id"];
}

@await Html.PartialAsync("_ButtonAtras")
<script src="http://localhost:5000/socket.io/socket.io.js"></script>

<div class="contenedor-home">
    @await Html.PartialAsync("_LogoEmpresa")
    @await Html.PartialAsync("_FormularioTurno")
</div>

@await Html.PartialAsync("_ModalTurno")
@await Html.PartialAsync("_ModalAdicionales")

<script src="~/js/turnoForm.js"></script>
<link rel="stylesheet" href="~/css/modals.css" />

<script>
    var uniqueId = '@uniqueId';
</script>

