@{
    ViewData["Title"] = "Login";
    var uniqueId = ViewData["id"];
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="contenedor-home">
    @await Html.PartialAsync("_LogoEmpresa")
    <div class="conetenedor-opciones">
        <h3>Bienvenido de vuelta</h3>
        <label>Usuario</label>
        <input id="user" type="text" placeholder="JhoeDoe@correo.com" />
        <label>Contraseña</label>
        <input id="pass" type="password" placeholder="********" />
        <label>Consultorio</label>
        <select id="consultorio">
        </select>
        <button onclick="submitForm()">Ingresar</button>
    </div>
</div>

<script>
    async function submitForm() {
        const uniqueId = '@uniqueId';
        const user = document.getElementById('user').value;
        const pass = document.getElementById('pass').value;
        const consultorio = document.getElementById('consultorio').value;

        const data = {
            Email: user,
            PassWord: pass,
        };

        try {
            const response = await fetch('http://localhost:5000/api/medico/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                const result = await response.json();

                // Guardar los datos en localStorage
                localStorage.setItem('NombreCompleto', result.data.NombreCompleto);
                localStorage.setItem('Especialidad', result.data.Especialidad);
                localStorage.setItem('Consultorio', consultorio);

                // Redirigir al dashboard con el ID único
                window.location.href = `/dassboard/${uniqueId}`;
            } else {
                console.log('Error en la autenticación.');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        cargarEspecialidades();
    });


    async function cargarEspecialidades() {
        try {
            const response = await fetch('http://localhost:5000/api/modulos');
            if (!response.ok) throw new Error('Error al obtener especialidades');

            const especialidades = await response.json();
            const selectEspecialidad = document.getElementById('consultorio');

            especialidades.data.forEach(especialidad => {
                const option = document.createElement('option');
                option.value = especialidad.Nombre;
                option.textContent = especialidad.Nombre;
                selectEspecialidad.appendChild(option);
            });
        } catch (error) {
            console.error('Error cargando especialidades:', error);
        }
    }
</script>
